<h2 class = "container">編集する</h2>

<%= render "form" %>

<br>

<%= link_to @picture do %>
  <span class="bi bi-eye-fill"></span><% end %>
<%= link_to pictures_path do %>
  <span class="bi bi-skip-backward-btn"></span><% end %>